<ion-view view-title="Dashboard"  ng-controller="DashCtrl">
  <ion-content class="padding">
    <form  name="formAlert">
      <div class="button-bar" style="margin-bottom:10px">
        <a class="button" ng-click="addTime(1)">+1 min</a>
        <a class="button" ng-click="addTime(5)">+5 min</a>
        <a class="button" ng-click="addTime(10)">+10min</a>
      </div>

      <div class="button-bar" style="margin-bottom:10px">

        <a class="button" ng-click="addTime(15)">+15min</a>
        <a class="button" ng-click="addTime(30)">+30 min</a>
        <a class="button" ng-click="addTime(45)">+45 min</a>
      </div>

      <div class="button-bar" style="margin-bottom:10px">
        <a class="button" ng-click="addTime(60)">+1 Hora</a>
        <a class="button" ng-click="addTime(120)">+2 Horas</a>
        <a class="button" ng-click="addTime(180)">+3 Horas</a>
      </diV>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Título</span>
          <input type="text" placeholder="Título" name="input" ng-model="alerta.tituloAlerta" ng-trim="true">
        </label>
      </div>

      <button class="button button-full button-positive" ng-click="createSingleNotification()">
         Me lembre daqui {{alerta.tempoAlerta}} min!!!
      </button>

      <button class="button button-full " ng-click="resetForm()">
         Limpar
      </button>

  </form>
  </ion-content>
</ion-view>
